{% extends 'core/event.html' %}
{% load static applications_tags rev %}

{% block custom_js %}<script type="text/javascript" src="{% static_rev 'js/applications.js' %}"></script>{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}

<div id="applications"
     data-change-state-url="{% url 'applications:change_state' page.url %}"
     data-change-rsvp-url="{% url 'applications:change_rsvp' page.url %}"
></div>

<div class="container">
  <form action="{% url 'applications:change_state' page.url %}" method="post" id="change-state-form">
  <div class="row">
    <div class="col-md-12 applications">
      <h3 class="page-header">Applications for {{ page.title }}</h3>
      {% if applications %}
          <p>
              Filter:
              <a href="?{% if order %}order={{ order }}{% endif %}">All</a> |
              <a href="?state=submitted{% if order %}&order={{ order }}{% endif %}" class="text-primary">Submitted</a> |
              <a href="?state=accepted{% if order %}&order={{ order }}{% endif %}" class="text-success">Accepted</a> |
              <a href="?state=rejected{% if order %}&order={{ order }}{% endif %}" class="text-danger">Rejected</a> |
              <a href="?state=waitlisted{% if order %}&order={{ order }}{% endif %}" class="text-warning">Waiting list</a> |
              <a href="?state=declined{% if order %}&order={{ order }}{% endif %}" class="text-danger">Declined</a> |
              <a href="?rsvp_status=waiting{% if order %}&order={{ order }}{% endif %}" class="text-primary">RSVP: waiting</a> |
              <a href="?rsvp_status=yes{% if order %}&order={{ order }}{% endif %}" class="text-success">RSVP: confirmed</a> |
              <a href="?rsvp_status=no{% if order %}&order={{ order }}{% endif %}" class="text-danger">RSVP: rejected</a>
          </p>
          <p>Change the status of selected applications to:
              <select name="state">
                  <option value="" selected>Choose status</option>
                  <option value="submitted">Application submitted</option>
                  <option value="accepted">Application accepted</option>
                  <option value="rejected">Application rejected</option>
                  <option value="waitlisted">Application on waiting list</option>
                  <option value="declined">Applicant declined</option>
              </select>
              <input type="submit" value="Apply" />
          </p>
          <a href="{% url 'applications:applications_csv' page.url %}{{ active_query_string }}" class="btn download">Download to csv</a>
          <p>Showing {{ applications|length }} application{{ applications|length|pluralize }} out of {{ all_applications_count }}, selected: <span id="selected-count">0</span></p>
          <table class="table">
              <thead>
                  <tr>
                      <th><input type="checkbox" name="application" id="select-all-box" /></th>
                      <th>#</th>
                      <th>E-mail</th>
                      <th>Application status</th>
                      <th>RSVP</th>
                      <th>Score {% display_sorting_arrow 'average_score' order %}</th>
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  {% for app in applications %}
                  <tr>
                      <td>
                        <input type="checkbox"
                               name="application"
                               class="application-box"
                               value="{{ app.id }}"
                               id="application-{{ app.id }}-box" />
                      </td>
                      <td><a href="{% url 'applications:application_detail' city=app.form.page.url app_number=app.number %}">{{ app.number }}</a></td>
                      <td>{{ app.email|default:"No email" }}</td>
                      <td>
                          <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle {{ app.state|default:'default' }}"
                                type="button"
                                id="application-{{ app.id }}-state"
                                data-toggle="dropdown"
                              >
                              {{ app.get_state_display }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#" class="state-change" data-state="submitted" data-app-id="{{ app.id }}">Application submitted</a></li>
                              <li><a href="#" class="state-change" data-state="accepted" data-app-id="{{ app.id }}">Application accepted</a></li>
                              <li><a href="#" class="state-change" data-state="rejected" data-app-id="{{ app.id }}">Application rejected</a></li>
                              <li><a href="#" class="state-change" data-state="waitlisted" data-app-id="{{ app.id }}">Application on waiting list</a></li>
                              <li><a href="#" class="state-change" data-state="declined" data-app-id="{{ app.id }}"> Applicant declined</a></li>
                            </ul>
                          </div>
                      </td>
                      <td>
                        {% if app.is_accepted %}
                          <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle {{ app.rsvp_status|default:'default' }}"
                                type="button"
                                id="application-{{ app.id }}-rsvp-status"
                                data-toggle="dropdown"
                              >
                              {{ app.get_rsvp_status_display }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#" class="rsvp-change" data-rsvp="waiting" data-app-id="{{ app.id }}">Waiting for response</a></li>
                              <li><a href="#" class="rsvp-change" data-rsvp="yes" data-app-id="{{ app.id }}">Confirmed attendance</a></li>
                              <li><a href="#" class="rsvp-change" data-rsvp="no" data-app-id="{{ app.id }}">Rejected invitation</a></li>
                            </ul>
                          </div>
                        {% else %}
                          —
                        {% endif %}
                      </td>
                      <td>
                          {% if app|scored_by_user:request.user %}
                              {{ app.average_score }}
                              <span class="num_votes">({{ app.scores.count }} vote{{ app.scores.count|pluralize }}, &sigma;={{ app.stdev|floatformat:"1" }})</span>
                          {% else %}
                              (hidden)
                          {% endif %}
                      </td>
                      <td class="text-right">
                          <a href="{% url 'applications:application_detail' city=app.form.page.url app_number=app.number %}" class="btn">View Application</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p class="lead">Nothing to see here...</p>
      {% endif %}
    </div>
  </div>
  </form>
</div>
{% endblock %}
